/* */

* {
    box-sizing: border-box;
}

.header_navigation {
    ul {
        li {
            cursor: pointer;
        }
    }
}

.no-scroll {
    overflow: hidden;
}

.scroll {
    overflow-y: auto;
}

.open-product-info {
    transform: translateY(-64px);
    transition: transform 500ms ease-out;
}

.open-sidebar {
    transform: translateX(0);
    transition: transform 500ms ease-out;
}

.close-categories {
    transform: translateY(-150%);
    transition: transform 0.1s ease-out;
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease-out;
}

.checkout-form {
    label {
        font-weight: bold;
    }
    input {
        border: 1px solid black;
        outline: none;
        padding-left: 10px;
        &::placeholder {
            opacity: 70%;
        }
    }
}

/* Custom Tailwind Settings */

.sort-item {
    @apply w-full rounded-md text-right cursor-pointer hover:opacity-90 hover:bg-light-primary-button-bg hover:font-normal hover:dark:bg-dark-primary-button-bg hover:dark:text-dark-primary-button-text
}

.navtext {
    @apply hover:text-light-navtext-hover hover:dark:text-dark-navtext-hover
}

.input {
    @apply bg-light-input hover:bg-light-input-hover dark:hover:bg-dark-input-hover dark:bg-dark-input;
}

.custom-grid {
    @apply grid grid-cols-4 md:grid-cols-8 xl:grid-cols-12;
}

.span-whole-grid {
    @apply col-span-4 md:col-span-8 xl:col-span-12;
}

.theme-heading {
    @apply text-light-Headings dark:text-dark-Headings
}

.categoryPanel {
  @apply h-[300px] overflow-hidden transition-transform flex flex-col border-b border-light-border dark:border-dark-border gap-y-4 pb-4;   
}

.checkbox {
    @apply w-[24px] h-[24px] flex justify-center items-center rounded-[3px] cursor-pointer bg-light-input hover:bg-light-input-hover dark:hover:bg-dark-input-hover dark:bg-dark-input;   
}

.cart-button {
    @apply bg-light-primary-button-bg text-light-primary-button-text dark:bg-dark-primary-button-bg dark:text-dark-primary-button-text 
    border border-light-primary-button-border dark:border-dark-primary-button-border
}

.main-button {
    @apply bg-light-primary-button-bg text-light-primary-button-text dark:bg-dark-primary-button-bg dark:text-dark-primary-button-text 
    border border-light-primary-button-border dark:border-dark-primary-button-border hover:bg-light-primary-button-hover-bg hover:border-light-primary-button-hover-border
    dark:hover:bg-dark-primary-button-hover-bg dark:hover:border-dark-primary-button-hover-border cursor-pointer
}

.secondary-button {
    @apply bg-light-secondary-button-bg text-light-secondary-button-text dark:bg-dark-secondary-button-bg dark:text-dark-secondary-button-text
    border border-light-secondary-button-border dark:border-dark-secondary-button-border hover:bg-light-secondary-button-hover-bg hover:border-light-secondary-button-hover-border
    dark:hover:bg-dark-secondary-button-hover-bg dark:hover:border-dark-secondary-button-hover-border
}

.closed {
    height: auto;
    padding: 0;
    transition: height 0.3s ease-out;
}