/* */

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.header_navigation {
  ul {
    li {
      cursor: pointer;
      position: relative;
      display: inline-block;
      padding-bottom: 1px;
      &::before {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 50%;
        right: 50%;
        width: auto;
        height: 1px;
        background-color: gray;
        transition:
          left 0.3s ease-out,
          right 0.3s ease-out;
        z-index: -1;
        border-radius: 1px 0 0 1px;
      }
      &:hover::before {
        left: 0;
        right: 0;
        border-radius: 1px;
      }
    }
  }
}

.est {
  position: relative;
  padding-bottom: 8px;
}

.about-us {
  position: relative;
  padding-bottom: 12px;
}

.est::before,
.about-us::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 1px solid #33393b;
}

.dark .est::before,
.dark .about-us::before {
  border-bottom: 1px solid #c0c2c9;
}

.search_container:hover input {
  @apply bg-light-input-hover dark:bg-dark-input-hover;
}

.hide {
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 0;
  width: 0;
}

.no-scroll {
  overflow: hidden;
}

.scroll {
  overflow-y: auto;
}

.open-product-info {
  transform: translateY(-64px);
  transition: transform 500ms ease-out;
}

.open-sidebar {
  transform: translateX(0);
  transition: transform 500ms ease-out;
}

.close-categories {
  transform: translateY(-150%);
  transition: transform 0.1s ease-out;
}

.open-checkout {
  transform: translate(0);
  transition: transform 0.1s ease-in;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease-out;
}

.checkout-form {
  label {
    font-weight: 500;
  }
  input {
    &::placeholder {
      opacity: 70%;
    }
  }
}

.through {
  opacity: 70%;
}

/* .gotocart-button:focus, .user-button:focus, .darkmode-button:focus, .filter-button:focus, .sort-button:focus {
    outline: 2px solid blue;
} */

/* Custom Tailwind Settings */

.christmas-main-theme {
  @apply bg-christmas-Main;
}

.christmas-secondary-theme {
  @apply bg-christmas-Secondary;
}

.christmas-border-color {
  @apply border-christmas-border;
}

.christmas-footer {
  @apply bg-christmas-Footer;
}

.christmas-main-button {
  @apply bg-christmas-primary-button-bg text-christmas-primary-button-text border-christmas-primary-button-border hover:bg-christmas-primary-button-hover-bg hover:border-christmas-primary-button-hover-border;
}

.christmas-secondary-button {
  @apply bg-christmas-secondary-button-bg text-christmas-secondary-button-text border-christmas-secondary-button-border hover:bg-christmas-secondary-button-hover-bg hover:border-christmas-secondary-button-hover-border;
}

.christmas-input {
  @apply bg-christmas-input hover:bg-christmas-input-hover;
}

.christmas-navtext {
  @apply hover:text-christmas-navtext-hover;
}

.christmas-icon-hover {
  @apply hover:text-christmas-icon-hover;
}

.christmas-main-text {
  @apply text-christmas-text;
}

.christmas-main-Heading {
  @apply text-christmas-Headings;
}

.main-text {
  @apply text-light-text dark:text-dark-text;
}

.main-Heading {
  @apply text-light-Headings dark:text-dark-Headings;
}

.main-theme {
  @apply bg-light-Main dark:bg-dark-Main;
}

.secondary-theme {
  @apply bg-light-Secondary dark:bg-dark-Secondary;
}

.border-color {
  @apply border-light-border dark:border-dark-border;
}

.flex-column {
  @apply flex flex-col;
}

.flex-between {
  @apply flex justify-between items-center;
}

.flex-center {
  @apply flex justify-center items-center;
}

.sort-item {
  @apply w-full rounded-md text-right cursor-pointer hover:opacity-90 hover:bg-light-primary-button-bg hover:font-normal hover:dark:bg-dark-primary-button-bg hover:dark:text-dark-primary-button-text;
}

.navtext {
  @apply hover:text-light-navtext-hover hover:dark:text-dark-navtext-hover;
}

.icon-hover {
  @apply hover:text-light-icon-hover hover:dark:text-dark-icon-hover;
}

.input {
  @apply bg-light-input dark:text-white w-full border dark:bg-dark-input px-3 focus:border-light-primary-button-hover-border focus:border-[2px] hover:bg-light-input-hover dark:hover:bg-dark-input-hover outline-none cursor-pointer border-light-border dark:border-dark-border rounded-md h-10;
}

.custom-grid {
  @apply grid grid-cols-4 md:grid-cols-8 xl:grid-cols-12;
}

.span-whole-grid {
  @apply col-span-4 md:col-span-8 xl:col-span-12;
}

.theme-heading {
  @apply text-light-Headings dark:text-dark-Headings;
}

.categoryPanel {
  @apply h-[300px] overflow-hidden transition-transform flex flex-col border-b border-light-border dark:border-dark-border gap-y-4 pb-4;
}

.checkbox {
  @apply w-[24px] h-[24px] flex justify-center items-center rounded-[3px] cursor-pointer bg-light-input hover:bg-light-input-hover dark:hover:bg-dark-input-hover dark:bg-dark-input;
}

.cart-button {
  @apply bg-light-primary-button-bg text-light-primary-button-text dark:bg-dark-primary-button-bg dark:text-dark-primary-button-text
    border border-light-primary-button-border dark:border-dark-primary-button-border focus:border-2 focus:border-green-600;
}

.main-button {
  @apply bg-light-primary-button-bg text-light-primary-button-text dark:bg-dark-primary-button-bg dark:text-dark-primary-button-text
    border border-light-primary-button-border dark:border-dark-primary-button-border hover:bg-light-primary-button-hover-bg hover:border-light-primary-button-hover-border
    dark:hover:bg-dark-primary-button-hover-bg dark:hover:border-dark-primary-button-hover-border cursor-pointer focus:border-2 focus:border-green-600;
}

.secondary-button {
  @apply bg-light-secondary-button-bg text-light-secondary-button-text dark:bg-dark-secondary-button-bg dark:text-dark-secondary-button-text
    border border-light-secondary-button-border dark:border-dark-secondary-button-border hover:bg-light-secondary-button-hover-bg hover:border-light-secondary-button-hover-border
    dark:hover:bg-dark-secondary-button-hover-bg dark:hover:border-dark-secondary-button-hover-border focus:border-2 focus:border-green-600;
}

.info-open {
  @apply bg-light-open dark:bg-dark-open hover:bg-light-open-hover hover:dark:bg-dark-open-hover text-light-primary-button-text dark:text-dark-primary-button-text;
}

.lowest {
  @apply bg-light-lowest dark:bg-dark-lowest hover:bg-light-lowest-hover hover:dark:bg-dark-lowest-hover;
}
.lowe {
  @apply bg-light-low dark:bg-dark-low hover:bg-light-low-hover hover:dark:bg-dark-low-hover;
}

.medium {
  @apply bg-light-medium dark:bg-dark-medium hover:bg-light-medium-hover hover:dark:bg-dark-medium-hover;
}

.high {
  @apply bg-light-high dark:bg-dark-high hover:bg-light-high-hover hover:dark:bg-dark-high-hover;
}

.highest {
  @apply bg-light-highest dark:bg-dark-highest hover:bg-light-highest-hover hover:dark:bg-dark-highest-hover;
}

.closed {
  height: auto;
  padding: 0;
  transition: height 0.3s ease-out;
}
